@import url('https://fonts.cdnfonts.com/css/norse');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --base-font: 'Roboto',sans-serif;
    --norse-font: 'Norse', sans-serif;
    --label-font: 'Montserrat', sans-serif;
    --galaxy-blue: #00344c;
    --bright-red: #ff000d;
    --background-color: #F5F5F5;
    --white: #ffffff;
}

body {
    margin: 0;
    padding: 0;
}
.body-container{
    display: flex;
    height: 100vh;
}

.left-side{
    flex: .5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('https://images.unsplash.com/photo-1501862700950-18382cd41497?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1038&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.right-side{
    margin: 0;
    flex: 1;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-container{
    margin-top: 25vh;
    display: flex;
    background-color: rgba(0, 0, 0, .4);
    align-items: center;
    justify-content: center;
}

.odin-title{
    color: var(--white);
    font-family: var(--norse-font);
    font-size: 100px;
    margin: 0;
}

.odin-logo{
    width: 100px;
    margin: 10px;
}


footer,
footer a {
    color: var(--white);
    opacity: 90%;
    font-size: 14px;
    font-family: sans-serif;
}

.source{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.input-line-container{
    display: flex;
    gap: 150px;
    margin-top: 20px;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.right-top,
.right-bottom,
.input-wrapper{
    margin-left: 50px;
}

.right-top{
    flex:1;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-top > h1{
    font-size: 31px;
    font-family: var(--base-font);
    font-weight: 500;
}

.right-middle{
    flex: .7;
    background-color: var(--white);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.right-bottom{
    flex: 1;
}

.right-bottom > h1{
    font-family: var(--base-font);
    font-size: 18px;
    font-weight: 400;
    margin-top: 40px;
}

.right-bottom a {
    text-decoration: none;
    color: var(--galaxy-blue)
}

.italic {
    display: inline;
    font-style: italic;
}

legend{
    font-family: var(--base-font);
    font-size: 25px;
}

label{
    font-family: var(--label-font);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .15em;
}

input{
    height: 30px;
    width: 300px;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    font-size: 16px;
    font-family: var(--base-font);

}

input[type=password]{
    font-size: 22px;
}

input:focus{
    border : 2px solid var(--galaxy-blue);
    outline: 0;
    box-shadow: 1px 3px 10px var(--galaxy-blue);
}

input:invalid:focus{
    border : 3px solid var(--bright-red);
    box-shadow: 1px 3px 10px var(--bright-red);
    outline: 0;
}

[type=submit]:active{
    background-color: var(--white);
    border : 3px solid var(--galaxy-blue);
    color: var(--galaxy-blue);
}

button{
    margin-top: 40px;
    height: 45px;
    width: 230px;
    border: 0;
    border-radius: 7px;
    background-color: var(--galaxy-blue);
    color: var(--white);
    font-size: 18px;
    font-family: var(--base-font);
    padding: px;
}



